.login {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/bg-login.png");
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}

.login__form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px 40px;
  border-radius: 15px;
  margin-left: 120px;
  width: 400px;
}

.login__form h3 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.login__form .input {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.login__form .input input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  flex: 1;
  padding: 10px 15px;
  font-size: 18px;
}

.login__form .input input::placeholder {
  color: #fff;
}

.login__form .input i {
  color: red;
  color: #fff;
  margin-right: 15px;
}

.login__form .btnLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}



.login__form .btnLogin button {
  padding: 8px 50px;
  font-weight: 900;
}
